$accent_color:     #c69;
$background_color: #d0dddd;
$secondary_background_color: #d0dddd;
$text_color:       #606666;
$secondary_text_color: #e0eeee;
$tertiary_text_color: #909999;
$shadow_color: #c0cccc;
