.audio-controls {
	margin: 15px auto 0;
	display: flex;
	align-items: center;
	justify-content: space-around;
	max-width: 85%;

	a {
		border-radius: 100%;
		border: 6px solid $accent_color;
		position: relative;
		display: inline-block;
		cursor: pointer;
		height: 62px;
		width: 62px;

		&:hover {
			background: $accent_color;
			color: #e0eeee;
		}

		& {
			transition: background 0.25s ease;
		}

		&::after,
		&::before {
			transition: background 0.25s ease, border-color 0.25s ease;
		}

		&::after,
		&::before {
			display: block;
			position: absolute;
			content: '';
		}
	}

	.play-button,
	.pause-button {
		height: 100px;
		width: 100px;
	}
}

.play-button {
	&::before {
		border-top: 32px solid transparent;
		border-bottom: 32px solid transparent;
		border-left: 46px solid $accent_color;
		top: 20%;
		left: 33.333%;
		height: 0;
		width: 0;
	}

	&:hover {
		&::before {
			border-left-color: #fff;
		}
	}
}

.pause-button {
	&::before,
	&::after {
		background: $accent_color;
		top: 20%;
		height: 60%;
		width: 13.333%;
	}

	&::before { left: 30%; }
	&::after { right: 30%; }

	&:hover {
		&::before,
		&::after {
			background: #fff;
		}
	}
}

.next-button {
	&::before {
		border-top: 19px solid transparent;
		border-bottom: 19px solid transparent;
		border-left: 29px solid $accent_color;
		top: 20%;
		left: 23.333%;
		height: 0;
		width: 0;
	}

	&::after {
		background: $accent_color;
		top: 20%;
		right: 23.333%;
		height: 60%;
		width: 13.333%;
	}

	&:hover {
		&::after { background:#fff; }
		&::before { border-left-color: #fff; }
	}
}

.prev-button {
	&::before {
		border-top: 19px solid transparent;
		border-bottom: 19px solid transparent;
		border-right: 29px solid $accent_color;
		top: 20%;
		right: 23.333%;
		height: 0;
		width: 0;
	}

	&::after {
		background: $accent_color;
		top: 20%;
		left: 23.333%;
		height: 60%;
		width: 13.333%;
	}

	&:hover {
		&::after { background:#fff; }
		&::before { border-right-color: #fff; }
	}
}
