.audio-controls {
	float: right;

	a {
		border-radius: 100%;
		position: relative;
		display: inline-block;
		cursor: pointer;
		height: 30px;
		width: 30px;

		&:hover {
			background: $accent_color;
			color: #e0eeee;
		}

		& {
			transition: background 0.25s ease;
		}

		&::after,
		&::before {
			transition: background 0.25s ease, border-color 0.25s ease;
		}

		&::after,
		&::before {
			display: block;
			position: absolute;
			content: '';
		}
	}
}

.play-button {
	&::before {
		border-top: 9px solid transparent;
		border-bottom: 9px solid transparent;
		border-left: 14px solid $accent_color;
		top: 20%;
		left: 33.333%;
		height: 0;
		width: 0;
	}

	&:hover {
		&::before {
			border-left-color: #fff;
		}
	}
}

.pause-button {
	&::before,
	&::after {
		background: $accent_color;
		top: 20%;
		height: 60%;
		width: 13.333%;
	}

	&::before { left: 30%; }
	&::after { right: 30%; }

	&:hover {
		&::before,
		&::after {
			background: #fff;
		}
	}
}

.next-button {
	&::before {
		border-top: 9px solid transparent;
		border-bottom: 9px solid transparent;
		border-left: 14px solid $accent_color;
		top: 20%;
		left: 23.333%;
		height: 0;
		width: 0;
	}

	&::after {
		background: $accent_color;
		top: 20%;
		right: 23.333%;
		height: 60%;
		width: 13.333%;
	}

	&:hover {
		&::after { background:#fff; }
		&::before { border-left-color: #fff; }
	}
}
