#current {
	.artwork {
		margin: 0;
		float: left;
		margin-right: 25px; // TODO: Change to percent
		max-width: 375px;
		width: 375px; // TODO: Change to percent
		transition: width 1s ease;

		& > img {
			display: block;
			max-width: 100%;
		}
	}

	.meta {
		background: $accent_color;
		box-sizing: border-box;
		float: right;
		position: relative;
		padding: 10px 30px;
		max-width: 775px;
		width: 775px; // TODO: Change to percent
	}

	.title {
		margin: 0;
		font-size: 3.6em;
		font-weight: 400;
		white-space: nowrap;
		text-overflow: ellipsis;
		overflow: hidden;
	}

	.artist {
		margin: 0;
		font-size: 2.1em;
		font-weight: 700;
		color: $tertiary_text_color;
	}

	.album {
		display: none;
	}

	.time-data {
		margin: 1.5em 0 0;
		font-size: 1.4em;
		font-weight: 400;
		color: $tertiary_text_color;
	}

	.time {
		margin-bottom: 2px;
		float: left;
	}

	.length {
		display: none;
	}

	progress {
		position: absolute;
		right: 0;
		bottom: 0;
		left: 0;
	}
}
