#masthead {
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	transform-style: preserve-3d;

	padding: 0 5%;
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: space-between;
	justify-content: space-between;
	color: $secondary_text_color;

	width: 375px; // TODO: Change to percent
	max-width: 375px;

	h1 {
		display: inline-block;
		line-height: 1;
		font-weight: 400;
	}

	input {
		color: $secondary_text_color;
		padding: 5px 10px;

		&:focus {
			background: rgba(255,255,255,0.1);
		}

		&[type=submit] {
			&:hover {
				background: #e0eeee;
				color: $accent_color;
			}
		}
	}
}
