.msg {
	background: #e0eeee;
	box-shadow: 0 0 10px #c0cccc;
	box-sizing: border-box;
	margin: 0 auto;
	padding: 10px;
	font-size: 2.1em;
	font-weight: 600;
	color: #c69;
	width: 90%;
}

.error-msg {
	@extend .msg;
	background: #f36;
	color: #e0eeee;
}
