body {
  background: #f69;
  margin: 0;
  font-family: "Avenir Next", Avenir, "Helvetica Neue", sans-serif;
  font-size: 11px;
  color: #1a1a1a; }

input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  transition: all 0.25s ease;
  background: transparent;
  border: none;
  outline: 0;
  font-family: "Avenir Next", Avenir, "Helvetica Neue", sans-serif;
  font-size: 1.6em; }

input[type=password],
input[type=text] {
  box-sizing: border-box;
  border-bottom: 1px solid #e0eeee;
  padding: 0 0.25em;
  color: #e0eeee;
  width: 7em; }

input[type=submit] {
  border-radius: 100px;
  margin: 0 0.25em;
  cursor: pointer;
  color: #606666; }

input[type=submit]:hover {
  background: #1a1a1a;
  color: #e0eeee; }

progress[value] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #f69;
  transition: all 1s linear;
  border: none;
  color: #1a1a1a;
  height: 10px;
  width: 100%; }

progress[value]::-webkit-progress-value {
  background-color: #1a1a1a; }

progress[value]::-webkit-progress-bar {
  background-color: transparent; }

progress[value]::-moz-progress-bar {
  background-color: #1a1a1a; }

.file-upload {
  display: inline-block;
  position: relative;
  overflow: hidden; }
  .file-upload::before {
    content: attr(data-inactive-text);
    transition: all 0.25s ease;
    margin: 0 0.25em;
    padding: 0.1em 0.35em;
    display: block;
    font-size: 1.6em; }
  .file-upload:hover::before {
    background: #1a1a1a;
    border-radius: 100px;
    color: #e0eeee; }
  .file-upload.active {
    cursor: default; }
    .file-upload.active::before {
      content: attr(data-active-text); }
  .file-upload input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0; }

.content-section {
  background: #e0eeee;
  box-shadow: 0 0 10px #c0cccc;
  margin: 5% auto 0;
  max-width: 1175px;
  width: 1175px; }

#masthead {
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  padding: 0 5%;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  color: #e0eeee;
  width: 375px;
  max-width: 375px; }
  #masthead h1 {
    display: inline-block;
    line-height: 1;
    font-weight: 400; }
  #masthead input {
    color: #e0eeee;
    padding: 5px 10px; }
    #masthead input:focus {
      background: rgba(255, 255, 255, 0.1); }
    #masthead input[type=submit]:hover {
      background: #e0eeee;
      color: #1a1a1a; }

.msg, .error-msg {
  background: #e0eeee;
  box-shadow: 0 0 10px #c0cccc;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 10px;
  font-size: 2.1em;
  font-weight: 600;
  color: #c69;
  width: 90%; }

.error-msg {
  background: #f36;
  color: #e0eeee; }

#current .artwork {
  margin: 0;
  float: left;
  margin-right: 25px;
  max-width: 375px;
  width: 375px;
  transition: width 1s ease; }
  #current .artwork > img {
    display: block;
    max-width: 100%; }
#current .meta {
  background: #1a1a1a;
  box-sizing: border-box;
  float: right;
  position: relative;
  padding: 10px 30px;
  max-width: 775px;
  width: 775px; }
#current .title {
  margin: 0;
  font-size: 3.6em;
  font-weight: 400;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden; }
#current .artist {
  margin: 0;
  font-size: 2.1em;
  font-weight: 700;
  color: #909999; }
#current .album {
  display: none; }
#current .time-data {
  margin: 1.5em 0 0;
  font-size: 1.4em;
  font-weight: 400;
  color: #909999; }
#current .time {
  margin-bottom: 2px;
  float: left; }
#current .length {
  display: none; }
#current progress {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0; }

.audio-controls {
  margin: 15px auto 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  max-width: 85%; }
  .audio-controls a {
    border-radius: 100%;
    border: 6px solid #1a1a1a;
    position: relative;
    display: inline-block;
    cursor: pointer;
    height: 62px;
    width: 62px; }
    .audio-controls a:hover {
      background: #1a1a1a;
      color: #e0eeee; }
    .audio-controls a {
      transition: background 0.25s ease; }
    .audio-controls a::after, .audio-controls a::before {
      transition: background 0.25s ease, border-color 0.25s ease; }
    .audio-controls a::after, .audio-controls a::before {
      display: block;
      position: absolute;
      content: ''; }
  .audio-controls .play-button,
  .audio-controls .pause-button {
    height: 100px;
    width: 100px; }

.play-button::before {
  border-top: 32px solid transparent;
  border-bottom: 32px solid transparent;
  border-left: 46px solid #1a1a1a;
  top: 20%;
  left: 33.333%;
  height: 0;
  width: 0; }
.play-button:hover::before {
  border-left-color: #fff; }

.pause-button::before, .pause-button::after {
  background: #1a1a1a;
  top: 20%;
  height: 60%;
  width: 13.333%; }
.pause-button::before {
  left: 30%; }
.pause-button::after {
  right: 30%; }
.pause-button:hover::before, .pause-button:hover::after {
  background: #fff; }

.next-button::before {
  border-top: 19px solid transparent;
  border-bottom: 19px solid transparent;
  border-left: 29px solid #1a1a1a;
  top: 20%;
  left: 23.333%;
  height: 0;
  width: 0; }
.next-button::after {
  background: #1a1a1a;
  top: 20%;
  right: 23.333%;
  height: 60%;
  width: 13.333%; }
.next-button:hover::after {
  background: #fff; }
.next-button:hover::before {
  border-left-color: #fff; }

.prev-button::before {
  border-top: 19px solid transparent;
  border-bottom: 19px solid transparent;
  border-right: 29px solid #1a1a1a;
  top: 20%;
  right: 23.333%;
  height: 0;
  width: 0; }
.prev-button::after {
  background: #1a1a1a;
  top: 20%;
  left: 23.333%;
  height: 60%;
  width: 13.333%; }
.prev-button:hover::after {
  background: #fff; }
.prev-button:hover::before {
  border-right-color: #fff; }

.playlist-editor {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 40px;
  display: none; }

@media (max-width: 640px) {
  .content-section {
    width: 100%; }

  #masthead {
    margin-bottom: 0; }

  #current {
    display: block;
    margin-top: 0;
    height: auto; }
    #current .artwork {
      transition: height 1s ease;
      background: #fff;
      box-sizing: border-box;
      padding: 5% 5%;
      display: block;
      height: auto;
      width: 90%; }
      #current .artwork > img {
        margin: 0 auto;
        height: auto;
        max-width: 100%; }
    #current .meta {
      padding: 0 5% 5%; }
    #current .title {
      font-size: 2.4em; }
    #current .artist {
      font-size: 1.6em; }
    #current .time {
      margin-bottom: -0.5em; }
    #current progress {
      float: none; }

  .audio-controls {
    text-align: center;
    float: none; }
    .audio-controls a {
      height: 80px;
      width: 80px; }

  .play-button::before,
  .next-button::before {
    border-top: 24px solid transparent;
    border-bottom: 24px solid transparent;
    border-left: 37px solid #1a1a1a; } }

/*# sourceMappingURL=style.css.map */
