body {
  background: #d0dddd;
  margin: 0;
  font-family: "Avenir Next", Avenir, "Helvetica Neue", sans-serif;
  font-size: 11px;
  color: #c69; }

input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  transition: all 0.25s ease;
  background: transparent;
  border: none;
  outline: 0;
  font-family: "Avenir Next", Avenir, "Helvetica Neue", sans-serif;
  font-size: 1.6em; }

input[type=password],
input[type=text] {
  border-bottom: 1px solid #e0eeee;
  padding: 0 0.25em;
  color: #e0eeee;
  width: 7em; }

input[type=submit] {
  border-radius: 100px;
  margin: 0 0.25em;
  cursor: pointer;
  color: #606666; }

input[type=submit]:hover {
  background: #c69;
  color: #e0eeee; }

progress[value] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #d0dddd;
  transition: all 1s linear;
  border: none;
  color: #c69;
  height: 10px;
  width: 100%; }

progress[value]::-webkit-progress-value {
  background-color: #c69; }

progress[value]::-webkit-progress-bar {
  background-color: transparent; }

progress[value]::-moz-progress-bar {
  background-color: #c69; }

.content-section {
  background: #e0eeee;
  box-shadow: 0 0 10px #c0cccc;
  margin: 5% auto 0;
  width: 90%; }

#masthead {
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  background: #c69;
  margin: 0 0 1.8em;
  padding: 0 5%;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  color: #e0eeee; }
  #masthead h1 {
    display: inline-block;
    line-height: 1;
    font-weight: 400; }
  #masthead input {
    color: #e0eeee; }
    #masthead input:focus {
      background: rgba(255, 255, 255, 0.1); }
    #masthead input[type=submit]:hover {
      background: #e0eeee;
      color: #c69; }

#current {
  height: 250px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row nowrap;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  #current .artwork {
    margin: 0;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 250px;
    min-width: 150px;
    transition: width 1s ease;
    -webkit-flex-shrink: 0;
    -ms-flex-shrink: 0;
    flex-shrink: 0; }
    #current .artwork > img {
      display: block;
      height: 100%; }
  #current .meta {
    background: white;
    padding: 30px 40px;
    -webkit-flex-grow: 1;
    -ms-flex-grow: 1;
    flex-grow: 1; }
  #current .title {
    margin: 0;
    font-size: 3.6em;
    font-weight: 400;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden; }
  #current .artist {
    margin: 0;
    font-size: 2.1em;
    font-weight: 700;
    color: #909999; }
  #current .album {
    display: none; }
  #current .time-data {
    margin: 1.5em 0 0;
    font-size: 1.4em;
    font-weight: 400;
    color: #909999; }
  #current .time {
    margin-bottom: 2px;
    float: left; }
  #current .length {
    display: none; }
  #current progress {
    float: left; }

.audio-controls {
  float: right; }
  .audio-controls a {
    border-radius: 100%;
    position: relative;
    display: inline-block;
    cursor: pointer;
    height: 30px;
    width: 30px; }
    .audio-controls a:hover {
      background: #c69;
      color: #e0eeee; }
    .audio-controls a {
      transition: background 0.25s ease; }
    .audio-controls a::after, .audio-controls a::before {
      transition: background 0.25s ease, border-color 0.25s ease; }
    .audio-controls a::after, .audio-controls a::before {
      display: block;
      position: absolute;
      content: ''; }

.play-button::before {
  border-top: 9px solid transparent;
  border-bottom: 9px solid transparent;
  border-left: 14px solid #c69;
  top: 20%;
  left: 33.333%;
  height: 0;
  width: 0; }
.play-button:hover::before {
  border-left-color: #fff; }

.pause-button::before, .pause-button::after {
  background: #c69;
  top: 20%;
  height: 60%;
  width: 13.333%; }
.pause-button::before {
  left: 30%; }
.pause-button::after {
  right: 30%; }
.pause-button:hover::before, .pause-button:hover::after {
  background: #fff; }

.next-button::before {
  border-top: 9px solid transparent;
  border-bottom: 9px solid transparent;
  border-left: 14px solid #c69;
  top: 20%;
  left: 23.333%;
  height: 0;
  width: 0; }
.next-button::after {
  background: #c69;
  top: 20%;
  right: 23.333%;
  height: 60%;
  width: 13.333%; }
.next-button:hover::after {
  background: #fff; }
.next-button:hover::before {
  border-left-color: #fff; }

.playlist-editor {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 40px; }

.add-song-form {
  display: inline-block;
  position: relative;
  overflow: hidden; }
  .add-song-form::before {
    content: '+ Add Music';
    transition: all 0.25s ease;
    margin: 0 0.25em;
    padding: 0.1em 0.35em;
    display: block;
    font-size: 1.6em; }
  .add-song-form:hover::before {
    background: #c69;
    border-radius: 100px;
    color: #e0eeee; }
  .add-song-form.uploading {
    cursor: default; }
    .add-song-form.uploading::before {
      content: 'Uploading Music...'; }
  .add-song-form input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0; }

@media (max-width: 640px) {
  .content-section {
    width: 100%; }

  #masthead {
    margin-bottom: 0; }

  #current {
    display: block;
    margin-top: 0;
    height: auto; }
    #current .artwork {
      transition: height 1s ease;
      background: #fff;
      padding: 5% 5%;
      display: block;
      height: auto;
      width: 90%; }
      #current .artwork > img {
        margin: 0 auto;
        height: auto;
        max-width: 100%; }
    #current .meta {
      padding: 0 5% 5%; }
    #current .title {
      font-size: 2.4em; }
    #current .artist {
      font-size: 1.6em; }
    #current .time {
      margin-bottom: -0.5em; }
    #current progress {
      float: none; }

  .audio-controls {
    text-align: center;
    float: none; }
    .audio-controls a {
      height: 80px;
      width: 80px; }

  .play-button::before,
  .next-button::before {
    border-top: 24px solid transparent;
    border-bottom: 24px solid transparent;
    border-left: 37px solid #c69; } }

/*# sourceMappingURL=style.css.map */
