{% extends "layout.html" %}
{% block body %}
	<article id="current" class="content-section">
		<figure class="artwork">
			<img src="">
		</figure>
		<section class="meta">
			{% if current_user.is_authenticated %}
				<div class="audio-controls">
					<a class="state-button"></a>
					<a class="next-button"></a>
				</div>
			{% endif %}

			<h1 class="title"></h1>
			<h2 class="artist"></h2>
			<h3 class="album"></h3>
			<h4 class="time-data">
				<span class="time"></span>
				<progress max="100" value=""></progress>
				<span class="length"></span>
			</h4>
		</section>
	</article>

	{% if current_user.is_authenticated %}
	<section class="playlist-editor content-section">
		<form action=""
		      method="post"
			  enctype="multipart/form-data"
			  data-inactive-text="+ Add Music"
			  data-active-text="Uploading Music..."
			  class="file-upload add-song">
			<input type="hidden" name="action" value="add_music">
			<input type="file" name="song">
		</form>
	</section>
	{% endif %}
{% endblock %}
