{% extends "layout.html" %}
{% block body %}
	<article id="current">
		<figure class="artwork">
			<img src="">
		</figure>
		<section class="meta">
			{% if session.logged_in %}
				<div class="audio-controls">
					<a class="state-button"></a>
					<a class="next-button"></a>
				</div>
			{% endif %}

			<h1 class="title"></h1>
			<h2 class="artist"></h2>
			<h3 class="album"></h3>
			<h4 class="time-data">
				<span class="time"></span>
				<progress max="100" value=""></progress>
				<span class="length"></span>
			</h4>
		</section>
	</article>

	{% if session.logged_in %}
	<section class="playlist-editor">
		<form action="" method="post" enctype="multipart/form-data" class="add-song-form">
			<input type="hidden" name="action" value="add_music">
			<input type="file" name="song">
		</form>
	</section>
	{% endif %}
{% endblock %}
