<!DOCTYPE html>
<head>
	<title>{{ config.TITLE }}</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

	<link rel="apple-touch-icon" sizes="114x114" href="{{ url_for('static', filename='apple-icon-114x114.png') }}">
	<link rel="apple-touch-icon" sizes="144x144" href="{{ url_for('static', filename='apple-icon-144x144.png') }}">
	<link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='apple-icon-180x180.png') }}">
	<link rel="icon" sizes="32x32" href="{{ url_for('static', filename='favicon-32x32.png') }}">
	<link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">

	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="translucent black">
</head>
<body>
	<header id="masthead">
		<h1>{{ config.TITLE }}</h1>

		{% if not current_user.is_authenticated %}

			<form action="{{ url_for('login') }}" method="POST">
			<input type="text" name="username">
			<input type="password" name="password">
			<input type="submit" value="Log In">
		</form>

		{% else %}

			<form action="{{ url_for('logout') }}" method="POST">
			<input type="submit" value="Log Out">
		</form>

		{% endif %}
	</header>

	{% if error %}
	<p class="error-msg">{{ error }}</p>
	{% endif %}

	{% if message %}
	<p class="msg">{{ message }}</p>
	{% endif %}

	{% block body %}{% endblock %}

	{% if music_script %}
	<script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
	<script src="{{ url_for('static', filename='script.js') }}"></script>
	{% endif %}
</body>
